{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% block heading %}{% endblock heading %}
{% block content %}

<div class="container mx-auto mt-10">
    <h1 class="text-2xl font-bold mb-4">Custom Login Page</h1>
    <!-- Your custom login form here -->
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="border-gray-400 border-solid border py-2 px-4 rounded mb-2">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="border-gray-400 border-solid border py-2 px-4 rounded mb-2">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
    </form>
    <!-- Login with Google button -->
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="hidden" name="google" value="true">
        <button type="submit" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">Login with Google</button>
    </form>
</div>

{% endblock content %}