<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-950">
      <nav class="flex items-center justify-between flex-wrap bg-teal-700 p-4">
        <div class="flex items-center flex-no-shrink text-white mr-6">
          <span
            class="flex flexwrap font-semibold text-xl tracking-tight items-center justify-center"
            >{% block heading %}{% endblock heading %}</span
          >
        </div>
      </nav>
      {% block content %}
      {% endblock content %}
  </body>
</html>
