{% extends 'base.html' %}
{% block title %}WISSHY{% endblock title %}
{% block heading %}WELCOME TO WISSHY{% endblock heading %}
{% block content %}


<div class="flex flex-col items-center justify-center w-11/12">
    <h1 class="text-4xl text-white m-5">CHOICES</h1>
    <div class="grid grid-cols-2 gap-20 w-fit">
        <div class="text-white bg-blue-500 rounded-xl px-4 py-2">
            <a href="{% url 'bdayinput' %}">CREATE BDAY WISH</a>
        </div>
        <div class="text-white bg-blue-500 rounded-xl px-4 py-2">
            <a href="{% url 'vdayinput' %}">CREATE VDAY WISH</a>
        </div>
    </div>
</div>

{% endblock content %}